# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
dist/
build/

# Vercel
.vercel/

# Render
.render/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Coverage
coverage/

# Cache
.cache/